html { 
  background-color: rgb(19, 39, 61);
  font-family: monospace, Menlo, Monaco, Consolas, 'Courier New';
}

body {
  margin: 1em;
  /* font-family: serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.postcard {
  color: blue;
}